
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

table, th, td {
    border: 1px solid black;

}

table thead {
    background-color: steelblue;
    color: white;
}
table tbody tr:nth-child(2n + 2) {
    background-color: #dfdfdf;

}

table {
    font-size: 2.4rem;
    border-collapse: separate;
}

h1 {
    color: #f007;
    font-size: 9.6rem;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Roboto', serif, Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif, Arial;

}

h2 {
    font-size: 3.2rem;
}

.novo-em { 
    font-size: 300%;
}

.novo-em, h2 {
    font-size: 3.2rem;
}


p {
font-size: 1.8rem;
text-align: justify;
text-indent: 90px;
}

a {
    font-size: 2.4rem;
    color: #f31;
}

a:visited {
    color: rgb(54, 128, 11);
}

a:hover {
    color: aquamarine;
}


.bg {
    height: 100vh;
    width: 100%;
    background-color: #313131;
    background-image: url(https://media.istockphoto.com/id/968493038/pt/foto/northern-lights-aurora-seaside-color-in-norway.webp?s=170667a&w=0&k=20&c=ckmxlCQhXu7SLTgD-DfRtHak5YrGeCjKTe282ip29mI=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

ul, ol {
    font-size: 1.8rem;
    padding-left: 3.2rem;
}

ul {
list-style: square;
}

ol {
    list-style: upper-roman;

}

.box {
    height: 100px;
    width: 200px;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: blue;
    color: white;
    border: 10px solid red;
    display: inline-block;
    border-radius: 0.4rem;

}

img {
    height: 10rem;
    width: 20rem;
    object-fit: cover;
}